<div class="column col-sm-3 col-md-3 col-lg-2" id="sidebar">
  <a class="logo" href="{% page_url index %}">
    <img src="{{ "/img/logo.png" | prepend: site.baseurl }}" />
    <span>HDMI2USB</span>
  </a>
  <ul class="nav">
    <li class="{% active_class home %}">
      <a href="{% page_url home %}">HOME</a>
    </li>
      <li class="{% active_class faq %}">
          <a href="{% page_url faq %}">ABOUT + FAQ</a>
      </li>
    <li class="{% active_class hardware %}">
      <a href="{% page_url hardware %}">HARDWARE</a>
    </li>
    <li class="{% active_class digilent-atlys %}">
     <ul>
      <li><a href="{% page_url digilent-atlys %}">Digilent Atlys</a></li>
     </ul>
    </li>
    <li class="{% active_class numato-opsis %}">
     <ul>
      <li><a href="{% page_url numato-opsis %}">Numato Opsis</a></li>
     </ul>
    </li>
    <li class="{% active_class potential-boards %}">
     <ul>
      <li><a href="{% page_url potential-boards %}">Potential Boards</a></li>
     </ul>
    </li>
    <li class="{% active_class tofe %}">
     <ul>
      <li><a href="{% page_url tofe %}">TOFE</a></li>
     </ul>
    </li>
    <li class="nav">
     <ul>
     {% if page.tags contains 'tofe' %}
      <li class="nav">
        <ul>
          <li class="{% active_class eeprom %}"><a href="/tofe/EEPROM.html">EEPROM Format</a></li>
          <li class="{% active_class lowspeedio %}"><a href="/tofe/lowspeedio">Low Speed IO</a></li>
          <li class="{% active_class milkymist %}"><a href="/tofe/milkymist">Milkymist</a></li>
        </ul>
      </li>
     {% endif %}
     </ul>
    </li>
    <li class="{% active_class firmware %}">
      <a href="{% page_url firmware %}">FIRMWARE</a>
    </li>
    <li class="{% active_class help %}">
      <a href="{% page_url help %}">GETTING HELP</a>
    </li>
    <li class="{% active_class news %}">
          <a href="{% page_url news %}">NEWS</a>
    </li>
    <li>
      <a href="https://code.timvideos.us">To TimVideos</a>
  </ul>
  <ul class="nav hidden-xs" id="sidebar-footer">
    <li class="social">
      <a href="https://planet.timvideos.us/feed.xml"><i class="fa fa-rss"></i></a>
      <a href="https://www.twitter.com/TimVideosUs"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <span>Proudly hosted by <a id="github" href="https://www.github.com">GitHub</a>
      </span>
    </li>
  </ul>
</div>
