<!DOCTYPE html>
<html style="height: initial;">
  {% include head.html %}
  <body style="height: initial;">
    <div class="wrapper" style="height: initial;">
      <div class="box" style="bottom: initial; position: initial;">
        <div class="row" style="height: initial;">

          <div class="column col-sm-9 col-md-9 col-lg-10" id="main" style="width: 100%;">
            {{ content }}
            <div id=end>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
