---
layout: base
---
<div class="padding">
<div class="col-sm-12">
  <div class="panel panel-default" id="featured">
    <div class="panel-body">
      <h1>{{ page.title }}</h1>
      <div class="article">
        <p class="meta description">
          {{ page.date | date: "%b %-d, %Y" }}
          {% if page.author %} • {{ page.author }}{% endif %}
          {% if page.meta %} • {{ page.meta }}{% endif %}
        </p>
<!--
        {% if page.categories %}
          <p class="categories">
            <span>Categories: </span>
            {% for category in page.categories %}
              <span class="label label-category">
                {{ category }}
              </span>
            {% endfor %}
          </p>
        {% endif %}
        {% if page.tags %}
          <p class="tags">
            <span>Tags: </span>
            {% for tag in page.tags %}
              <span class="label label-tag">
                {{ tag }}
              </span>
            {% endfor %}
          </p>
        {% endif %}
 -->
        <p class="article">
          {{ content }}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
